@font-face {
    font-family: OpenSans-CondLight;
    src: url("fonts/OpenSans-CondLight.ttf");
    font-style: normal;
    font-weight: 300;
}

@font-face {
    font-family: PoiretOne-Regular;
    src: url("fonts/PoiretOne-Regular.ttf");
    font-style: normal;
    font-weight: 400;
}


body {
    display: flex;
    justify-content: center;
    margin: 0;
}

.position {
    flex-direction: column;
}


                /*block №1*/


.info {
    position: relative;
    width: 1440px;
    height: 680px;
    background: #EFEEEC;
    padding-top: 20px;
}

.menu a {
    color: #82B5D1;
}

nav a {
    text-decoration: none;
}

.position-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 80px;
    margin-right: 80px;
}

.position-list__size {
    font-size: 34px;
    line-height: 46px;
}

.position-list__navigation {
    width: 250px;
    font-size: 24px;

}

.position-list__navigation ul {
    display: flex;
    justify-content: space-between;
}

nav li {
    font-family: OpenSans-CondLight, sans-serif;
}


.position-list__cart {
    width: 115px;
    height: 24px;
}

.position-list__cart ul {
    display: flex;
    justify-content: space-between;
}

nav ul {
    display: inline;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.menu li {
    display: inline;
}

.product {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    margin-top: 119px;
}

.text {
    position: relative;
    margin-right: 41px;
}

.text h1 {
    font-family: PoiretOne-Regular, sans-serif;
    font-weight: normal;
    font-size: 72px;
    line-height: 84px;
    color: #344854;
    margin: 0;
}

.text h2 {
    font-family: OpenSans-CondLight, sans-serif;
    font-weight: normal;
    line-height: 38px;
    font-size: 28px;
    color: #344854;
    margin-top: 15px;
    margin-bottom: 0;
}

.butt {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin-top: 40px;
    width: 187px;
    height: 58px;
    background-color: #82B5D1;
}

.text a {
    font-family: OpenSans-CondLight, sans-serif;
    font-size: 28px;
    text-decoration: none;
    color: #FFFFFF;
    line-height: 38px
}

.table {
    margin-right: 80px;
}

.slide {
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
    width: 1440px;
    margin-bottom: 55px;
}

.slide1 {
    margin-right: 8px;
}

.slide2 {
    margin-right: 8px;
}


                /*block №2*/



.category {
    display: flex;
    flex-direction: row;
    width: 1440px;
    height: 680px;
}

.small-furniture {
    position: relative;
}

.fixtures {
    display: flex;
    position: relative;
}

.small-furniture h1 {
    position: absolute;
    font-family: PoiretOne-Regular, sans-serif;
    font-style: normal;
    font-size: 36px;
    color: #344854;
    line-height: 42px;
    font-weight: normal;
    top: 40px;
    right: 30px;
    margin: 0;
}

.fixtures h1 {
    position: absolute;
    font-family: PoiretOne-Regular, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 42px;
    color: #344854;
    top: 40px;
    left: 30px;
    margin: 0;
}

.large-furniture {
    position: relative;
}

.large-furniture h1 {
    position: absolute;
    font-family: PoiretOne-Regular, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 42px;
    color: #344854;
    top: 40px;
    left: 22px;
    margin: 0;
}

                /*block №3*/


.popular {
    width: 1440px;
    height: 682px;
    background: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.popular a {
    text-decoration: none;
}

.popular__text {
    display: flex;
    justify-content: flex-end;
    width: 1440px;
}

.popular__text h1 {
    font-family: PoiretOne-Regular, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 42px;
    color: #344854;
    margin: 0 75px 40px 0;
}

.popular-products__position {
    width: 1280px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: 0 80px 0 80px;
}

.white-lamp h2 {
    font-family: PoiretOne-Regular, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 33px;
    color: #344854;
    margin: 10px 0 0 0;
}

.white-lamp p {
    font-family: PoiretOne-Regular, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 33px;
    color: #6891A7;
    margin: 8px 0 0 0;
}

.grey-lamp h2 {
    font-family: PoiretOne-Regular, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 33px;
    color: #344854;
    margin: 10px 0 0 0;
}

.grey-lamp p {
    font-family: PoiretOne-Regular, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 33px;
    color: #6891A7;
    margin: 8px 0 0 0;
}

.wooden-chair h2 {
    font-family: PoiretOne-Regular, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 33px;
    color: #344854;
    margin: 10px 0 0 0;
}

.wooden-chair p {
    font-family: PoiretOne-Regular, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 33px;
    color: #6891A7;
    margin: 8px 0 0 0;
}

.new-stools {
    position: relative;
}

.new-stools h2 {
    position: absolute;
    top: 0;
    font-family: PoiretOne-Regular, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 42px;
    color: #1A242A;
    letter-spacing: -1px;
    margin: 45px 27px 323px 24px;
}

.new-stools a {
    display: flex;
    justify-content: center;
}

.new-stools__butt {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 225px;
    height: 58px;
    background: #EFEEEC;
    bottom: 0;
    margin-bottom: 45px;
    font-family: OpenSans-CondLight, sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 28px;
    line-height: 38px;
    color: #4E6D7D;
}


                /*Block №4*/


.discount {
    width: 1440px;
    height: 481px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #EFEEEC;
}

.discount-position {
    display: flex;
}

.image {
    position: relative;
    margin-right: 30px;
}

.discount-position__butt__discount {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 10px;
    right: 10px;
    width: 75px;
    height: 37px;
    background: #6891A7;
}

.image a {
    font-family: PoiretOne-Regular, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 27px;
    color: #E6F0F6;
}

.discount-position__info {
    display: flex;
    justify-content: center;
    flex-direction: column;
}



.discount-position__info h1 {
    font-family: PoiretOne-Regular, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 42px;
    color: #344854;
    margin: 0;
}

.discount-position__info p {
    font-family: PoiretOne-Regular, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #4E6D7D;
    margin: 20px 0 20px 0;
}

.discount-position__butt {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 187px;
    height: 58px;
    background: #82B5D1;
}

.discount-position__info a {
    font-family: PoiretOne-Regular, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 38px;
    text-decoration: none;
    color: #E6F0F6;
}


                /*Block №4*/


.best {
    width: 1440px;
    height: 682px;
    background: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.best a {
    text-decoration: none;
}

.best__text {
    display: flex;
    justify-content: flex-end;
    width: 1440px;
}

.best__text h1 {
    font-family: PoiretOne-Regular, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 42px;
    color: #344854;
    margin: 0 80px 40px 0;
}

.best-products__position {
    width: 1280px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: 0 80px 0 80px;
}

.black-lamp h2 {
    font-family: PoiretOne-Regular, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 33px;
    color: #344854;
    margin: 10px 0 0 0;
}

.black-lamp p {
    font-family: PoiretOne-Regular, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 33px;
    color: #6891A7;
    margin: 8px 0 0 0;
}

.table1 h2 {
    font-family: PoiretOne-Regular, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 33px;
    color: #344854;
    margin: 10px 0 0 0;
}

.table1 p {
    font-family: PoiretOne-Regular, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 33px;
    color: #6891A7;
    margin: 8px 0 0 0;
}

.wooden-chair1 h2 {
    font-family: PoiretOne-Regular, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 33px;
    color: #344854;
    margin: 10px 0 0 0;
}

.wooden-chair1 p {
    font-family: PoiretOne-Regular, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 33px;
    color: #6891A7;
    margin: 8px 0 0 0;
}

.chair-soft h2 {
    font-family: PoiretOne-Regular, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 33px;
    color: #344854;
    margin: 10px 0 0 0;
}

.chair-soft p {
    font-family: PoiretOne-Regular, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 33px;
    color: #6891A7;
    margin: 8px 0 0 0;
}


                /*block №6*/


.subscription {
    width: 1440px;
    height: 314px;
    background: #9BC4DA;
    display: flex;
    justify-content: center;
    align-items: center;
}

.subscription h1 {
    font-family: OpenSans-CondLight, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 49px;
    color: #344854;
    margin: 0;
}

.subscription__position {
    display: flex;
    flex-direction: row;
    align-items: end;
}

.subscription__position input {
    outline:none;
    background: #9BC4DA;
    border: none;
    width: 259px;
    font-family: OpenSans-CondLight, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    color: #4E6D7D;
    margin: 42px 0 0 0;
}

hr {
    width: 259px;
    height: 0;
    border: 1px solid #344854;
    margin: 8px 14px 0 0;
}

.subscription__position__butt {
    background: #1A242A;
    width: 122px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.subscription__position a {
    font-family: OpenSans-CondLight, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    color: #E6F0F6;
    text-decoration: none;
}



                /*block №7*/



.footer {
    position: relative;
    width: 1280px;
    height: 373px;
    background: #FFFFFF;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: 0 80px 0 80px;
}

.footer__hite {
    width: 297px;
    height: 293px;
}

.footer a {
    text-decoration: none;
    color: #82B5D1;
}

.footer__hite h1 {
    font-family: OpenSans-CondLight, sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 34px;
    line-height: 46px;
    color: #82B5D1;
    margin-top: 50px;
}

.footer__hite p {
    font-family: OpenSans-CondLight, sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 25px;
    color: #82B5D1;
    margin-top: 41px;
}

.footer__hite__icon {
    display: flex;
    justify-content: space-between;
    margin-top: 17px;
}

.footer__menu {
    width: 297px;
    height: 293px;
    display: flex;
    justify-content: center;
}

.footer__menu ul {
    margin-top: 37px;
}

.footer__menu li {
    font-family: OpenSans-CondLight, sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 33px;
    color: #82B5D1;
    margin-top: 13px;
}

.footer__menu__position {
    margin: 0 0 45px 0;
}

.additional-menu {
    width: 297px;
    height: 293px;
}

.additional-menu {
    width: 297px;
    height: 293px;
    display: flex;
    justify-content: center;
}

.additional-menu ul {
    margin-top: 37px;
}

.additional-menu li {
    font-family: OpenSans-CondLight, sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 33px;
    color: #82B5D1;
    margin-top: 13px;
}

.additional-menu__position {
    margin: 0 0 45px 0;
}

.new-products {
    width: 298px;
    height: 293px;
}

.new-products h1 {
    font-family: OpenSans-CondLight, sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    color: #82B5D1;
    margin: 50px 0 32px 0;
}

.new-products input {
    outline:none;
    background: #CDE1ED;
    width: 298px;
    height: 48px;
    font-family: OpenSans-CondLight, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    color: #82B5D1;
    border: 1px solid #82B5D1;
    box-sizing: border-box;
    margin-bottom: 10px;
}

.new-products__butt {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 298px;
    height: 48px;
    background: #1A242A;
    border: 1px solid #1A242A;
    box-sizing: border-box;
}

.new-products a {
    font-family: OpenSans-CondLight, sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 25px;
    color: #E6F0F6;
    text-decoration: none;
}

.copy {
    position: absolute;
    bottom: 55px;
    left: 80px;
    color: #82B5D1;
    font-family: OpenSans-CondLight, sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 25px;
}