@font-face {
    font-family: OpenSans-CondLight;
    src: url("fonts/OpenSans-CondLight.ttf");
    font-style: normal;
    font-weight: 300;
}

@font-face {
    font-family: PoiretOne-Regular;
    src: url("fonts/PoiretOne-Regular.ttf");
    font-style: normal;
    font-weight: 400;
}


body {
    margin: 0 auto;
}

.hide {
    display: none;
}


.search {
    background-color: #e5e5e5;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    width: 70%;
    height: 80px;
    z-index: 999999999999999;
}

.search a {
    text-decoration: none;
}

.button-search {
    margin-left: 25px;
}

#input-search {
    padding-left: 10px;
    outline: none;
    border-radius: 20px;
    font-size: 20px;
    background-color: #f0f8fa;
    border: none;
    width: 800px;
    height: 30px;
}

.position {
    flex-direction: column;
}



                /*block №1*/


.info {
    position: relative;
    width: 100%;
    height: 680px;
    background: #EFEEEC;
}

.menu {
    width: 100%;
}

.menu a {
    color: #82B5D1;
}

nav a {
    text-decoration: none;
}

.position-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 80px;
    margin-right: 80px;
}

.position-list__size {
    font-size: 34px;
    line-height: 46px;
}

.position-list__navigation {
    width: 250px;
    font-size: 24px;

}

.position-list__navigation ul {
    display: flex;
    justify-content: space-between;
}

nav li {
    font-family: OpenSans-CondLight, sans-serif;
}


.position-list__cart {
    width: 115px;
    height: 24px;
}

.position-list__cart ul {
    display: flex;
    justify-content: space-between;
}

nav ul {
    display: inline;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.menu li {
    display: inline;
}

.product {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    margin-top: 119px;
}

.text {
    position: relative;
    margin-right: 41px;
}

.text h1 {
    font-family: PoiretOne-Regular, sans-serif;
    font-weight: normal;
    font-size: 72px;
    line-height: 84px;
    color: #344854;
    margin: 0;
}

.text h2 {
    font-family: OpenSans-CondLight, sans-serif;
    font-weight: normal;
    line-height: 38px;
    font-size: 28px;
    color: #344854;
    margin-top: 15px;
    margin-bottom: 0;
}

#button-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    font-family: OpenSans-CondLight, sans-serif;
    font-size: 28px;
    color: #FFFFFF;
    margin-top: 40px;
    width: 187px;
    height: 58px;
    background-color: #82B5D1;
    border: none;
    cursor: pointer;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

body.lock {
    overflow: hidden;
}

.modal-content {
    background-color: #EFEEEC;
    margin: 17% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 40%;
    height: 15%;
    position: relative;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modal-content p {
    font-family: OpenSans-CondLight, sans-serif;
    font-size: 18px;
    text-align: center;
    margin: 5px 0 20px 0;
}

#position-button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;
}

.ok {
    width: 20%;
    height: 70%;
    margin-right: 20px;
    cursor: pointer;
    background-color: #82B5D1;
    border: 0;
    font-size: 15px;
    font-family: OpenSans-CondLight, sans-serif;
}

.cancel {
    width: 20%;
    height: 70%;
    cursor: pointer;
    background-color: #82B5D1;
    border: 0;
    font-size: 15px;
    font-family: OpenSans-CondLight, sans-serif;
}

.position-span {
    position: absolute;
    top: 10px;
    right: 20px;
}

.text a {
    font-family: OpenSans-CondLight, sans-serif;
    font-size: 28px;
    text-decoration: none;
    color: #FFFFFF;
    line-height: 38px
}

.table {
    margin-right: 80px;
}

.slide {
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 55px;
}

.slide1 {
    margin-right: 8px;
}


                /*block №2*/



.category {
    display: flex;
    flex-direction: row;
    max-width: 100%;
    height: auto;
}

.small-furniture {
    position: relative;
}

.fixtures {
    display: flex;
    position: relative;
}

.small-furniture h1 {
    position: absolute;
    font-family: PoiretOne-Regular, sans-serif;
    font-style: normal;
    font-size: 36px;
    color: #344854;
    line-height: 42px;
    font-weight: normal;
    top: 40px;
    right: 30px;
    margin: 0;
}

.fixtures h1 {
    position: absolute;
    font-family: PoiretOne-Regular, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 42px;
    color: #344854;
    top: 40px;
    left: 30px;
    margin: 0;
}

.large-furniture {
    position: relative;
}

.large-furniture h1 {
    position: absolute;
    font-family: PoiretOne-Regular, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 42px;
    color: #344854;
    top: 40px;
    left: 22px;
    margin: 0;
}

                /*block №3*/


.popular {
    max-width: 100%;
    height: 682px;
    background: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.popular a {
    text-decoration: none;
}

.popular__text {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.popular__text h1 {
    font-family: PoiretOne-Regular, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 42px;
    color: #344854;
    margin: 0 75px 40px 0;
}

.popular-products__position {
    width: 1280px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: 0 80px 0 80px;
}

.white-lamp h2 {
    font-family: PoiretOne-Regular, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 33px;
    color: #344854;
    margin: 10px 0 0 0;
}

.white-lamp p {
    font-family: PoiretOne-Regular, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 33px;
    color: #6891A7;
    margin: 8px 0 0 0;
}

.grey-lamp h2 {
    font-family: PoiretOne-Regular, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 33px;
    color: #344854;
    margin: 10px 0 0 0;
}

.grey-lamp p {
    font-family: PoiretOne-Regular, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 33px;
    color: #6891A7;
    margin: 8px 0 0 0;
}

.wooden-chair h2 {
    font-family: PoiretOne-Regular, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 33px;
    color: #344854;
    margin: 10px 0 0 0;
}

.wooden-chair p {
    font-family: PoiretOne-Regular, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 33px;
    color: #6891A7;
    margin: 8px 0 0 0;
}

.new-stools {
    position: relative;
}

.new-stools h2 {
    position: absolute;
    top: 0;
    font-family: PoiretOne-Regular, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 42px;
    color: #1A242A;
    letter-spacing: -1px;
    margin: 45px 27px 0 24px;
}

.new-stools a {
    display: flex;
    justify-content: center;
}

.new-stools__butt {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 225px;
    height: 58px;
    background: #EFEEEC;
    bottom: 0;
    margin-bottom: 45px;
    font-family: OpenSans-CondLight, sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 28px;
    line-height: 38px;
    color: #4E6D7D;
}


                /*Block №4*/


.discount {
    max-width: 100%;
    height: 481px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #EFEEEC;
}

.discount-position {
    display: flex;
    width: 100%;
}

.image {
    position: relative;
    margin-right: 30px;
}

.discount-position__butt__discount {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 10px;
    right: 10px;
    width: 75px;
    height: 37px;
    background: #6891A7;
}

.image a {
    font-family: PoiretOne-Regular, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 27px;
    color: #E6F0F6;
}

.discount-position__info {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.discount-position__info h1 {
    font-family: PoiretOne-Regular, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 42px;
    color: #344854;
    margin: 0;
}

.discount-position__info p {
    font-family: PoiretOne-Regular, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #4E6D7D;
    margin: 20px 0 20px 0;
}

.discount-position__butt {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: PoiretOne-Regular, sans-serif;
    font-size: 28px;
    width: 187px;
    height: 58px;
    background: #82B5D1;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
}

.discount-position__info a {
    font-family: PoiretOne-Regular, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 38px;
    text-decoration: none;
    color: #E6F0F6;
}

#dots {
    display: none;
}

#position-text {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#position-tabs {
    display: flex;
    justify-content: center;
}

#position-tabs h3 {
    font-family: OpenSans-CondLight, sans-serif;
    margin-right: 70px;
    font-size: 28px;
    font-style: normal;
    font-weight: normal;
}

#specifications {
    display: flex;
    justify-content: center;
}

#specifications p {
    font-family: OpenSans-CondLight, sans-serif;
    font-size: 18px;
    text-align: center;
}
                /*Block №4*/


.best {
    width: 1440px;
    height: 682px;
    background: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.best a {
    text-decoration: none;
}

.best__text {
    display: flex;
    justify-content: flex-end;
    width: 1440px;
}

.best__text h1 {
    font-family: PoiretOne-Regular, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 42px;
    color: #344854;
    margin: 0 80px 40px 0;
}

.best-product {
    overflow: hidden;
}

.best-products__position {
    width: 1440px;
    display: flex;
    flex-direction: row;
    transition: .2s;
    overflow: hidden;
}

.slider-item {
    text-align: center;
    min-width: 360px;
}

.slider-buttons {
    text-align: center;
    width: 100%;
    height: 40px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-prev {
    width: 100px;
    height: 30px;
    cursor: pointer;
    border: none;
    background-color: rgba(121, 241, 189, 0.95);
    text-transform: uppercase;
}

.btn-next {
    width: 100px;
    height: 30px;
    cursor: pointer;
    border: none;
    background-color: rgba(121, 241, 189, 0.95);
    text-transform: uppercase;
}

.btn-next:hover {
    background: #b4adee;
    width: 110px;
    height: 35px;
    transition: .5s;
    border-radius: 15px;
}

.btn-prev:hover {
    background: #b4adee;
    width: 110px;
    height: 35px;
    transition: .5s;
    border-radius: 15px;
}

.black-lamp h2 {
    font-family: PoiretOne-Regular, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 33px;
    color: #344854;
    margin: 10px 0 0 0;
}

.black-lamp p {
    font-family: PoiretOne-Regular, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 33px;
    color: #6891A7;
    margin: 8px 0 0 0;
}

.table1 h2 {
    font-family: PoiretOne-Regular, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 33px;
    color: #344854;
    margin: 10px 0 0 0;
}

.table1 p {
    font-family: PoiretOne-Regular, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 33px;
    color: #6891A7;
    margin: 8px 0 0 0;
}

.wooden-chair1 h2 {
    font-family: PoiretOne-Regular, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 33px;
    color: #344854;
    margin: 10px 0 0 0;
}

.wooden-chair1 p {
    font-family: PoiretOne-Regular, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 33px;
    color: #6891A7;
    margin: 8px 0 0 0;
}

.chair-soft h2 {
    font-family: PoiretOne-Regular, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 33px;
    color: #344854;
    margin: 10px 0 0 0;
}

.chair-soft p {
    font-family: PoiretOne-Regular, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 33px;
    color: #6891A7;
    margin: 8px 0 0 0;
}


                /*block №6*/


.subscription {
    width: 1440px;
    height: 314px;
    background: #9BC4DA;
    display: flex;
    justify-content: center;
    align-items: center;
}

.subscription h1 {
    font-family: OpenSans-CondLight, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 49px;
    color: #344854;
    margin: 0;
}

.subscription__position {
    display: flex;
    flex-direction: row;
    align-items: end;
}

.subscription__position input {
    outline:none;
    background: #9BC4DA;
    border: none;
    width: 259px;
    font-family: OpenSans-CondLight, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    color: #4E6D7D;
    margin: 42px 0 0 0;
}

hr {
    width: 259px;
    height: 0;
    border: 1px solid #344854;
    margin: 8px 14px 0 0;
}

.subscription__position__butt {
    background: #1A242A;
    width: 122px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.subscription__position a {
    font-family: OpenSans-CondLight, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    color: #E6F0F6;
    text-decoration: none;
}


                /*block №7*/


.footer {
    position: relative;
    width: 1280px;
    height: 373px;
    background: #FFFFFF;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: 0 80px 0 80px;
}

.footer__hite {
    width: 297px;
    height: 293px;
}

.footer a {
    text-decoration: none;
    color: #82B5D1;
}

.footer__hite h1 {
    font-family: OpenSans-CondLight, sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 34px;
    line-height: 46px;
    color: #82B5D1;
    margin-top: 50px;
}

.footer__hite p {
    font-family: OpenSans-CondLight, sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 25px;
    color: #82B5D1;
    margin-top: 41px;
}

.footer__hite__icon {
    display: flex;
    justify-content: space-between;
    margin-top: 17px;
}

.footer__menu {
    width: 297px;
    height: 293px;
    display: flex;
    justify-content: center;
}

.footer__menu ul {
    margin-top: 37px;
}

.footer__menu li {
    font-family: OpenSans-CondLight, sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 33px;
    color: #82B5D1;
    margin-top: 13px;
}

.footer__menu__position {
    margin: 0 0 45px 0;
}

.additional-menu {
    width: 297px;
    height: 293px;
}

.additional-menu {
    width: 297px;
    height: 293px;
    display: flex;
    justify-content: center;
}

.additional-menu ul {
    margin-top: 37px;
}

.additional-menu li {
    font-family: OpenSans-CondLight, sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 33px;
    color: #82B5D1;
    margin-top: 13px;
}

.additional-menu__position {
    margin: 0 0 45px 0;
}

.new-products {
    width: 298px;
    height: 293px;
}

.new-products h1 {
    font-family: OpenSans-CondLight, sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    color: #82B5D1;
    margin: 50px 0 32px 0;
}

.new-products input {
    outline:none;
    background: #CDE1ED;
    width: 298px;
    height: 48px;
    font-family: OpenSans-CondLight, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    color: #82B5D1;
    border: 1px solid #82B5D1;
    box-sizing: border-box;
    margin-bottom: 10px;
}

.new-products__butt {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 298px;
    height: 48px;
    background: #1A242A;
    border: 1px solid #1A242A;
    box-sizing: border-box;
}

.new-products a {
    font-family: OpenSans-CondLight, sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 25px;
    color: #E6F0F6;
    text-decoration: none;
}

.copy {
    position: absolute;
    bottom: 55px;
    left: 80px;
    color: #82B5D1;
    font-family: OpenSans-CondLight, sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 25px;
}

.menu-mobile {
    display: none;
}

.mobile-popular {
    display: none;
}



                /*mobile-version*/



@media screen and (min-width: 1440px) {
    .position {
        width: 100%;
    }

    .product {
        display: flex;
        justify-content: center;
    }

    .category {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    #kl {
        width: 50%;
    }

    .small-furniture__position {
        width: 100%;
        height: 680px;

    }

    .category__position {
        width: 50%;
    }

    .fixtures__position {
        width: 100%;
        height: 340px;
    }

    .large-furniture__position {
        width: 100%;
        height: 340px;
    }

    .popular__text {
        width: 1440px;
    }

    .discount-position {
        display: flex;
        justify-content: center;
        height: 290px;
    }

    .discount-position__info p {
        max-width: 529px;
    }

    .best {
        width: 100%;
    }

    .subscription {
        width: 100%;
    }

    .footer {
        width: 92%;
    }
}

@media screen and (min-width: 1366px) and (max-width: 1439px) {

    .menu-mobile {
        display: none;
    }

    .mobile-popular {
        display: none;
    }

    .position {
        display: flex;
        justify-content: center;
        overflow: hidden;
    }

    .position-list {
        width: 100%;
    }

    .info {
        max-width: 100%;
    }

    .menu {
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin: 0;
    }

    .slide {
        width: 100%;
    }

    .category {
        width: 100%;
    }

    .category img {
        display: block;
        width: 100%;
        height: auto;
    }

    .best {
        width: 100%;
    }

    .discount-position {
        display: flex;
        justify-content: center;
        height: 290px;
    }

    .discount-position__info p {
        max-width: 529px;
    }

    .subscription {
        width: 100%;
    }

    .footer {
        width: 100%;
        padding: 0;
        display: flex;
        justify-content: space-around;
    }

    .footer__hite {
        width: auto;
    }

    .footer__menu {
        width: auto
    }

    .additional-menu {
        width: auto;
    }

    .new-products {
        width: auto;
    }

    .copy {
        left: 60px;
    }

}

@media screen and (min-width: 1280px) and (max-width: 1365px) {

    .menu-mobile {
        display: none;
    }

    .mobile-popular {
        display: none;
    }

    .position {
       display: flex;
       justify-content: center;
       overflow: hidden;
   }

    .info {
        width: 100%;
    }

    .table {
        margin-right: 40px;
    }

    .slide {
        width: 100%;
    }

    .category img {
        display:block;
        max-width:100%;
        height:100%;
    }

    .category h1 {
        top: 25px;
    }

    .popular {
        display: flex;
        align-items: flex-start;
    }

    .popular-products__position {
        display: flex;
        justify-content: space-around;
        padding: 0;
    }

    .popular__text {
        width: 100%;
    }

    .popular h1 {
        margin-right: 25px;
    }

    .discount {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .discount-position {
        display: flex;
        justify-content: center;
        height: 290px;
    }

    .discount-position__info p {
        max-width: 529px;
    }

    .best {
        display: flex;
        align-items: flex-start;
    }

    .best-products {
        display: flex;
        justify-content: space-around;
        padding: 0;
    }

    .best-products__position {
        display: flex;
        justify-content: space-around;
        padding: 0;
    }

    .best__text {
        width: 100%;
    }

    .best h1 {
        margin-right: 25px;
    }

    .subscription {
        width: 100%;
    }

    .footer {
        width: 100%;
        padding: 0;
        display: flex;
        justify-content: space-around;
    }

    .footer__hite {
        width: auto;
    }

    .footer__menu {
        width: auto
    }

    .additional-menu {
        width: auto;
    }

    .new-products {
        width: auto;
    }

    .copy {
        left: 50px;
    }

}

@media screen and (min-width: 1024px) and (max-width: 1279px) {

    .menu-mobile {
        display: none;
    }

    .mobile-popular {
        display: none;
    }

    .position {
        display: flex;
        justify-content: center;
        overflow: hidden;
    }

     .info {
         width: 100%;
         height: 640px;
     }

     .position-list {
         margin: 0 30px 0 30px;
     }

    .text h1 {
        font-size: 50px;
    }

    .text h2 {
        font-size: 28px;
    }

    .table {
        width: 45%;
    }

    .slide {
        width: 100%;
    }

    .category img {
        display:block;
        max-width:100%;
        height:100%;
    }

    .category h1 {
        font-size: 30px;
        top: 20px;
    }

    .popular img {
        display:block;
        max-width:100%;
        height:auto;
    }

    .popular {
        width: 100%;
        height: 570px;
    }

    .popular__text {
        width: 100%;
    }

    .popular h1 {
        margin-right: 25px;
    }

    .popular h2 {
        font-size: 25px;
    }

    .popular p {
        font-size: 25px;
    }

    .popular-products {
        display: flex;
        justify-content: space-around;
    }

    .popular-products__position {
        padding: 0;
        width: 95%;
    }

    .white-lamp {
        margin-right: 10px;
    }

    .grey-lamp {
        margin-right: 10px;
    }

    .wooden-chair {
        margin-right: 10px;
    }

    .new-stools h2 {
        font-size: 27px;
    }

    .new-stools__butt {
        width: 90%;
    }

    .discount {
        width: 100%;
    }

    .popular img {
        display:block;
        max-width:100%;
        height:auto;
    }

    .best {
        width: 100%;
        height: 570px;
    }

    .best__text {
        width: 100%;
    }

    .best h1 {
        margin-right: 25px;
    }

    .best h2 {
        font-size: 25px;
    }

    .best p {
        font-size: 25px;
    }

    .best-products {
        display: flex;
        justify-content: space-around;
    }

    .best-products__position {
        padding: 0;
        width: 95%;
    }

    .black-lamp {
        margin-right: 10px;
    }

    .table1 {
        margin-right: 10px;
    }

    .wooden-chair1 {
        margin-right: 10px;
    }

    .best img {
        display:block;
        max-width:100%;
        height:auto;
    }

    .discount-position {
        display: flex;
        justify-content: center;
        height: 290px;
    }

    .discount-position__info p {
        max-width: 529px;
    }

    .subscription {
        width: 100%;
    }

    .footer {
        width: 100%;
        padding-left: 0;
        display: flex;
        justify-content: space-around;
    }

    .footer__hite {
        width: auto;
    }

    .footer__menu {
        width: auto
    }

    .additional-menu {
        width: auto;
    }

    .new-products {
        width: auto;
    }

    .copy {
        left: 20px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {

    .menu-mobile {
        display: none;
    }

    .mobile-popular {
        display: none;
    }

    .position {
        display: flex;
        justify-content: center;
        overflow: hidden;
    }

    .info {
        width: 100%;
        height: 630px;
    }

    .position-list {
        margin-left: 30px;
        margin-right: 30px;
    }

    .position-list__cart {
        display: flex;
        justify-content: space-around;
        align-items: end;
        width: 100px;
    }

    .position-list li {
        font-size: 23px;
    }

    .position-list__cart ul {
        width: 55px;
    }

    .position-list__cart img {
        display: block;
        width: 100%;
        height: auto;
    }

    .product {
        display: flex;
        justify-content: center;
        margin-top: 100px;
    }

    .product h1 {
        font-size: 40px;
        line-height: 60px;
    }

    .product h2 {
        font-size: 25px;
        margin: 0;
     }

    .product .butt {
        width: 50%;
        height: 13%;
        margin-top: 20px;
    }

    .table {
        width: 30%;
    }

    .slide {
        width: 768px;
    }

    .category {
        width: 100%;
    }

    .category img {
        display: block;
        width: 100%;
        height: auto;
    }

    .category h1 {
        font-size: 25px;
        top: 8px;
    }

    .popular {
        width: 100%;
        height: auto;
    }

    .popular img {
        display: block;
        width: 100%;
        height: auto;
    }

    .popular__text {
        display: flex;
        justify-content: center;
        align-content: center;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .popular__text h1 {
        margin: 0;
    }

    .popular-products__position {
        width: 100%;
        height: 850px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-content: space-between;
        margin-bottom: 20px;
    }

    .discount {
        width: 100%;
        height: 430px;
    }

    .discount-position {
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 410px;
    }

    .discount img {
        display: flex;
        width: 100%;
        height: auto;
    }

    .image {
        width: 50%;
        margin: 0;
    }

    .position-center {
        width: 300px;
    }

    .discount-position__butt {
        width: 50%;
        height: 15%;
    }

    .best {
        width: 100%;
        height: auto;
    }

    .best img {
        display: block;
        width: 100%;
        height: auto;
    }

    .best__text {
        display: flex;
        justify-content: center;
        align-content: center;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .best__text h1 {
        margin: 0;
    }

    .best-products__position {
        width: 100%;
        height: 850px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-content: space-between;
        margin-bottom: 20px;
    }

    .subscription {
        width: 100%;
    }

    .footer {
        width: 100%;
        height: 610px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        padding: 0;
        justify-content: space-evenly;
    }

    .additional-menu {
        display: flex;
        justify-content: flex-start;
        margin-bottom: 40px;
    }

    .additional-menu ul {
        margin: 0;
    }

    .new-products h1 {
        margin-top: 13px;
    }

    .copy {
        left: 60px;
        bottom: 30px;
    }
}

@media screen  and (min-width: 600px) and (max-width: 767px){

    .menu-mobile {
        display: none;
    }

    .mobile-popular {
        display: none;
    }

    .position {
        width: 100%;
        display: flex;
        justify-content: center;
        overflow: hidden;
    }

    .info {
        width: 100%;
        height: 480px;
    }

    .position-list {
        margin: 0 15px 0 15px;
    }

    .position-list ul {
        font-size: 23px;
    }

    .position-list__navigation {
        width: 200px;
    }

    .position-list__cart img {
        display: block;
        width: 100%;
    }

    .position-list__cart {
        width: 10%;
        display: flex;
        align-items: end;
    }

    .product {
        margin-top: 80px;
        display: flex;
        justify-content: flex-start;
    }

    .table {
        position: relative;
        left: 300px;
        width: 70%;
    }

    .table img {
        display: block;
        width: 100%;
    }

    .text {
        position: absolute;
        margin-top: 25px;
        margin-left: 60px;
    }

    .text h1 {
        font-size: 40px;
        line-height: 65px;
    }

    .text h2 {
        margin-top: 0;
    }

    .text .butt {
        width: 50%;
        height: 45%;
        margin-top: 10px;
    }

    .slide {
        width: 100%;
        margin-bottom: 35px;
    }

    .slide img {
        display: flex;
        width: 1%;
    }

    .category {
        width: 100%;
    }

    .category img {
        display: flex;
        width: 100%;
    }

    .category h1 {
        top: 0;
        font-size: 22px;
    }

    .fixtures h1 {
        left: 10px;
    }

    .large-furniture h1 {
        left: 10px;
    }

    .popular {
        width: 100%;
        height: auto;
    }

    .popular-products {
        width: 700px;
    }

    .popular-products__position h2 {
        font-size: 27px;
    }

    .popular-products__position p {
        font-size: 25px;
    }

    .popular img {
        display: block;
        width: 80%;
        height: auto;
    }

    .popular__text {
        display: flex;
        justify-content: center;
        align-content: center;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .popular__text h1 {
        margin: 0;
    }

    .popular-products__position {
        width: 100%;
        height: 700px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-content: space-between;
        margin-bottom: 20px;
    }

    .new-stools h2 {
        margin-top: 20px;
        margin-left: 30px;
    }

    .new-stools__butt {
        width: 65%;
        height: 15%;
        left: 23px;
    }

    .discount {
        width: 100%;
        height: auto;
    }

    .image {
        margin: 0;
    }

    .discount-position {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .position-center h1 {
        text-align: center;
    }

    .discount-position__info a {
        display: flex;
        justify-content: flex-end;
        margin-bottom: 10px;
    }

    .discount-position__butt {
        margin-bottom: 20px;
    }

    .best {
        width: 100%;
        height: auto;
    }

    .best-products {
        width: 700px;
    }

    .best-products__position h2 {
        font-size: 27px;
    }

    .best-products__position p {
        font-size: 25px;
    }

    .best img {
        display: block;
        width: 80%;
        height: auto;
    }

    .best__text {
        display: flex;
        justify-content: center;
        align-content: center;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .best__text h1 {
        margin: 0;
    }

    .best-products__position {
        width: 100%;
        height: 700px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-content: space-between;
        margin-bottom: 20px;
    }

    .subscription {
        width: 100%;
        height: 260px;
    }

    .subscription h1 {
        font-size: 30px;
        text-align: center;
    }

    .footer {
        width: 100%;
        height: 630px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        padding: 0;
        justify-content: space-evenly;
    }

    .footer__hite__icon {
        width: 93%;
    }

    .footer__hite__icon img {
        display: block;
        width: 100%;
    }

    .additional-menu {
        display: flex;
        justify-content: flex-start;
        margin-bottom: 40px;
    }

    .additional-menu ul {
        margin: 0;
    }

    .new-products h1 {
        margin-top: 13px;
    }

    .footer__hite {
        width: 40%;
        height: 280px;
    }

    .footer__menu {
        width: 40%;
        height: 280px;
    }

    .additional-menu {
        width: 40%;
        height: 280px;
    }

    .new-products {
        width: 40%;
        height: 280px;
    }

    .new-products input {
        width: 230px;
    }

    .new-products__butt {
        width: 230px;
    }

    .footer__hite h1 {
        margin-bottom: 0;
    }

    .footer__hite p {
        margin-top: 20px;
    }

    .footer__menu__position {
        margin-bottom: 25px;
    }

    .additional-menu__position {
        margin-bottom: 25px;
    }

    .new-products h1 {
        margin-bottom: 44px;
    }

    .copy {
        left: 40px;
        bottom: 30px;
    }
}

@media screen and (min-width: 480px) and (max-width: 599px){

    .menu-mobile {
        display: none;
    }

    .mobile-popular {
        display: none;
    }

    .position {
        display: flex;
        justify-content: center;
        overflow: hidden;
    }

    .info {
        width: 100%;
        height: 430px;
    }

    .position-list {
        margin: 0 15px 0 15px;
    }

    .position-list ul {
        font-size: 20px;
    }

    .position-list__navigation {
        width: 180px;
    }

    .position-list__cart img {
        display: block;
        width: 100%;
    }

    .position-list__cart {
        width: 11%;
        display: flex;
        align-items: end;
    }

    .product {
        margin-top: 60px;
        display: flex;
        justify-content: flex-start;
    }

    .table {
        position: relative;
        left: 300px;
        width: 70%;
    }

    .table img {
        display: block;
        width: 100%;
    }

    .text {
        position: absolute;
        margin-top: 25px;
        margin-left: 30px;
    }

    .text h1 {
        font-size: 40px;
        line-height: 65px;
    }

    .text h2 {
        margin-top: 0;
    }

    .text .butt {
        width: 50%;
        height: 45%;
        margin-top: 10px;
    }

    .slide {
        width: 100%;
        margin-bottom: 35px;
    }

    .slide img {
        display: flex;
        width: 1%;
    }

    .category {
        width: 100%;
    }

    .category img {
        display: flex;
        width: 100%;
    }

    .category h1 {
        top: 0;
        font-size: 18px;
        line-height: 30px;
    }

    .fixtures h1 {
        left: 10px;
    }

    .large-furniture h1 {
        left: 10px;
    }

    .popular {
        width: 100%;
        height: auto;
    }

    .popular-products {
        width: 480px;
    }

    .popular-products__position h2 {
        margin: 0;
        width: 175px;
        font-size: 22px;
        line-height: 25px;
    }

    .popular-products__position p {
        margin: 0;
        font-size: 20px;
        width: 175px;
        line-height: 25px;
    }

    .popular img {
        display: block;
        width: 100%;
    }

    .white-lamp {
        width: 200px;
    }

    .grey-lamp {
        width: 200px;
    }

    .wooden-chair {
        width: 200px;
    }

    .new-stools {
        width: 200px;
    }

    .popular__text {
        display: flex;
        justify-content: center;
        align-content: center;
        margin-top: 20px;
        margin-bottom: 20px;
        width: 100%;
    }

    .popular__text h1 {
        margin: 0;
    }

    .popular-products__position {
        width: 100%;
        height: 600px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-content: space-between;
        margin-bottom: 20px;
        padding: 0;
    }

    .new-stools h2 {
        margin-top: 20px;
        margin-left: 30px;
    }

    .new-stools__butt {
        width: 150px;
        height: 13%;
        left: 22px;
        margin-bottom: 30px;
    }

    .discount {
        width: 100%;
        height: auto;
    }

    .discount img {
        display: block;
        width: 100%;
    }

    .image {
        margin: 0;
    }

    .discount-position {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .discount-position__butt {
        margin-bottom: 20px;
        width: 170px;
        height: 50px;
    }

    .position-center h1 {
        text-align: center;
    }

    .position-center p {
        margin-left: 15px;
    }


    .discount-position__info a {
        display: flex;
        justify-content: center;
        margin-bottom: 10px;
    }

    .best {
        width: 100%;
        height: auto;
    }

    .best-products {
        width: 100%;
    }

    .best-products__position h2 {
        margin: 0;
        width: 175px;
        font-size: 22px;
        line-height: 25px;
    }

    .best-products__position p {
        margin: 0;
        font-size: 20px;
        width: 175px;
        line-height: 25px;
    }

    .best img {
        display: block;
        width: 100%;
    }

    .black-lamp {
        width: 200px;
    }

    .table1 {
        width: 200px;
    }

    .wooden-chair1 {
        width: 200px;
    }

    .chair-soft {
        width: 200px;
    }

    .best__text {
        display: flex;
        justify-content: center;
        align-content: center;
        margin-top: 20px;
        margin-bottom: 20px;
        width: 100%;
    }

    .best__text h1 {
        margin: 0;
    }

    .best-products__position {
        width: 100%;
        height: 570px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-content: space-between;
        margin-bottom: 20px;
        padding: 0;
    }

    .subscription {
        width: 100%;
        height: 260px;
    }

    .subscription h1 {
        font-size: 30px;
        text-align: center;
    }

    .footer {
        width: 100%;
        height: 590px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        padding: 0;
        justify-content: space-evenly;
    }

    .footer__hite__icon {
        width: 80%;
    }

    .footer__hite__icon img {
        display: block;
        width: 100%;
    }

    .footer li {
        font-size: 20px;
    }

    .additional-menu {
        display: flex;
        justify-content: flex-start;
        margin-bottom: 40px;
    }

    .additional-menu ul {
        margin: 0;
    }

    .new-products h1 {
        margin-top: 13px;
        text-align: center;
        font-size: 20px;
        margin-bottom: 15px;
    }

    .footer__hite {
        width: 35%;
        height: 280px;
    }

    .footer__menu {
        width: 35%;
        height: 280px;
    }

    .additional-menu {
        width: 35%;
        height: 280px;
    }

    .new-products {
        width: 35%;
        height: 280px;
    }

    .new-products input {
        width: 180px;
    }

    .new-products__butt {
        width: 180px;
    }

    .footer__hite h1 {
        font-size: 23px;
        margin-top: 40px;
        margin-bottom: 0;
    }

    .footer__hite p {
        margin-top: 20px;
    }

    .footer__menu__position {
        margin-bottom: 25px;
    }

    .additional-menu__position {
        margin-bottom: 25px;
    }

    .copy {
        left: 50px;
        bottom: 20px;
    }
}


@media screen and (min-width: 320px) and (max-width: 479px){

    .menu {
        display: none;
    }

    .menu-btn {
        width: 30px;
        height: 30px;
        position: relative;
        z-index:2;
        overflow: hidden;
    }

    .menu-btn span {
        width: 25px;
        height: 2px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #82B5D1;
        transition: all 0.5s;
    }

    .menu-btn span:nth-of-type(2) {
        top: calc(50% - 5px);
    }
    .menu-btn span:nth-of-type(3) {
        top: calc(50% + 5px);
    }

    .menu-burger {
        display: flex;
        justify-content: flex-end;
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        padding: 15px;
        background-color: gray;
        transform: translateX(100%);
        transition: transform 0.5s;
        z-index: 1;
    }

    .menu-burger.active {
        transform: translateX(0);
    }

    .menu-burger li {
        width: fit-content;
        list-style-type: none;
        margin-bottom: 10px;
        border-bottom: 1px solid white;
    }

    .color {
        color: white;
        text-transform: uppercase;
    }

    .menu-btn.active span:first-of-type {
        transform: translateX(100%);
    }

    .menu-btn.active span:nth-of-type(2) {
        top: 50%;
        transform: translate(-50%, -50%) rotate(45deg);
    }

    .menu-btn.active span:nth-of-type(3) {
        top: 50%;
        transform: translate(-50%, -50%) rotate(-45deg);
    }


    .popular {
        display: none;
    }

    .mobile-popular {
        display: block;
    }

    body.lock {
        overflow: hidden;
    }

    .menu-mobile {
        width: 100%;
        height: 100%;
        display: block;
        z-index: 3;
        background: #EFEEEC;
        padding-top: 20px;
    }

    .position {
        display: flex;
        justify-content: center;
        overflow: hidden;
    }

    .info {
        width: 100%;
        height: 430px;
    }

    .position-list__mobile {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin: 0 15px 0 15px;
    }

    .position-list__mobile a {
        display: flex;
        align-items: center;
    }

    .position-list__mobile ul {
        font-size: 20px;
    }

    .position-list__hite a {
        font-size: 27px;
        color: #82B5D1;
    }

    .mobile-position__cart img {
        display: block;
        width: 100%;
    }

    .mobile-position__cart {
        width: 35px;
        display: flex;
        align-items: center;
        flex-direction: row;
    }

    .mobile-position__cart ul {
        display: flex;
    }

    .product {
        margin-top: 50px;
        display: flex;
        justify-content: flex-start;
    }

    .table {
        position: relative;
        left: 110px;
    }

    .table img {
        width: 430px;
    }

    .text {
        position: absolute;
        margin-top: 35px;
        margin-left: 20px;
    }

    .text h1 {
        font-size: 30px;
        line-height: 45px;
    }

    .text h2 {
        font-size: 25px;
        margin-top: 0;
    }

    .text .butt {
        width: 50%;
        height: 45%;
        margin-top: 10px;
        font-size: 20px;
    }

    .slide {
        width: 100%;
        margin-bottom: 35px;
    }

    .slide img {
        display: flex;
        width: 2%;
    }

    .category {
        display: flex;
        flex-direction: column;
        width: 100%;
        overflow: hidden;
    }

    .category__position {
        display: flex;
        flex-direction: row;
    }

    .category h1 {
        top: 15px;
        font-size: 18px;
        line-height: 30px;
    }

    .small-furniture h1 {
        font-size: 23px;
        left: 80px;
    }

    .small-furniture img {
        display: block;
        width: 100%;
    }

    .fixtures {
        width: 160px;
        height: 200px;
    }

    .fixtures img {
        width: 100%;
    }

    .large-furniture {
        width: 250px;
        height: 200px;
    }

    .large-furniture img {
        width: 270px;
        height: 100%;
    }

    .fixtures h1 {
        font-size: 21px;
        text-align: center;
    }

    .large-furniture h1 {
        font-size: 21px;
        width: 70px;
        line-height: 20px;
        left: 50px;
    }

    .mobile-popular {
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        height: auto;
    }

    .mobile__new-stools {
        position: relative;
        display: flex;
        justify-content: center;
        margin-top: 30px;
    }

    .mobile__new-stools img {
        width: 90%;
    }

    .mobile__new-stools h2 {
        position: absolute;
        top: 0;
        font-family: PoiretOne-Regular, sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 36px;
        line-height: 42px;
        color: #1A242A;
        letter-spacing: -1px;
        margin: 45px 24px 0 26px;
    }

    .mobile__new-stools__butt {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        width: 225px;
        height: 58px;
        background: #EFEEEC;
        bottom: 0;
        left: 47px;
        margin-bottom: 45px;
        font-family: OpenSans-CondLight, sans-serif;
        font-style: normal;
        font-weight: 300;
        font-size: 28px;
        line-height: 38px;
        color: #4E6D7D;
    }

    .mobile__new-stools a {
        display: flex;
        justify-content: center;
    }

    .mobile__popular__text {
        text-align: center;
    }

    .mobile__popular__text h1 {
        font-family: PoiretOne-Regular, sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 26px;
        line-height: 42px;
        color: #344854;
        margin-top: 60px;
        margin-bottom: 0;
    }

    .mobile__popular-products__position {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .mobile__popular-products__position img {
        display: block;
        width: 100%;
    }

    .mobile__popular-products__position {
        width: 100%;
        height: 460px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-content: space-around;
        margin-bottom: 20px;
        padding: 0;
    }

    .white-lamp {
        width: 130px;
    }

    .grey-lamp {
        width: 130px;
    }

    .wooden-chair {
        width: 130px;
    }

    .fantom {
        position: relative;
        width: 130px;
        height: 192px;
    }

    .fantom h2 {
        font-family: PoiretOne-Regular, sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 17px;
        line-height: 33px;
        color: #344854;
        width: 130px;
        position: absolute;
        bottom: 24px;
    }

    .fantom p {
        font-family: PoiretOne-Regular, sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 17px;
        line-height: 33px;
        color: #6891A7;
        width: 130px;
        position: absolute;
        bottom: 0;
    }

    .mobile__popular-products__position h2 {
        margin: 0;
        width: 175px;
        font-size:17px;
        line-height: 25px;
    }

    .mobile__popular-products__position p {
        margin: 0;
        font-size: 17px;
        width: 175px;
        line-height: 25px;
    }

    .mobile__popular-products__position a {
        text-decoration: none;
    }

    .discount {
        width: 100%;
        height: auto;
    }

    .discount-position {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .discount-position__info {
        width: 320px;
    }

    .discount-position__butt {
        margin-bottom: 20px;
        width: 280px;
        height: 50px;
    }

    .discount-position__butt__discount {
        right: 100px;
    }

    .discount-position__info {
        width: 100%;
    }

    .position-center {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    .position-center h1 {
        text-align: center;
        font-size: 30px;
    }

    .position-center p {
        margin-left: 15px;
        margin-right: 15px;
    }


    .discount-position__info a {
        display: flex;
        justify-content: center;
        margin-bottom: 10px;
    }

    .best {
        width: 100%;
        height: auto;
    }

    .best-products__position h2 {
        margin: 0;
        width: 175px;
        font-size: 17px;
        line-height: 25px;
    }

    .best-products__position p {
        margin: 0;
        font-size: 18px;
        width: 175px;
        line-height: 25px;
    }

    .best img {
        display: block;
        width: 100%;
    }

    .black-lamp {
        width: 130px;
    }

    .table1 {
        width: 130px;
    }

    .wooden-chair1 {
        width: 130px;
    }

    .chair-soft {
        width: 130px;
    }

    .best__text {
        display: flex;
        justify-content: center;
        align-content: center;
        margin-top: 20px;
        margin-bottom: 20px;
        width: 100%;
    }

    .best__text h1 {
        font-size: 30px;
        margin: 0;
    }

    .best-products__position {
        width: 100%;
        height: 400px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-content: space-between;
        margin-bottom: 20px;
        padding: 0;
    }

    .subscription {
        width: 100%;
        height: 260px;
    }

    .subscription h1 {
        font-size: 25px;
        text-align: center;
    }

    .subscription__position {
        display: flex;
        flex-direction: column;
    }

    hr {
        width: 273px;
    }

    .subscription-input {
        width: 275px;
    }

    .subscription__position__butt {
        width: 275px;
        margin-top: 5px;
    }

    .footer {
        width: 100%;
        height: 950px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        padding: 0;
    }

    .footer__hite__icon {
        display: flex;
        justify-content: space-evenly;
    }

    .footer__hite {
        text-align: center;
        width: 100%;
        height: 250px;
    }

    .footer__hite h1 {
        margin-top: 40px;
    }

    .footer__menu {
        height: 200px;
    }

    .footer__menu ul {
        margin: 0;
    }

    .footer__menu__position {
        margin-bottom: 15px;
    }

    .additional-menu__position {
        margin: 0;
    }

    .additional-menu {
        height: 200px;
    }

    .additional-menu ul {
        text-align: center;
        margin: 0;
    }

    .new-products {
        text-align: center;
        height: 200px;
        margin-bottom: 80px;
    }

    .new-products h1 {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .copy {
        left: 110px;
        margin-top: 60px;
        bottom: 30px;
    }
}